# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md

###################
#####  PANTS  #####
###################
# Ensure diffs and language attribution of Pantsbuild files is Python instead of Starlark
*BUILD text diff=python linguist-language=python
BUILD text diff=python linguist-language=python
*lockfile.json linguist-generated
*lockfile.json.metadata linguist-generated
build_scripts/get-pants.sh  linguist-vendored
uv.lock linguist-generated



###################
#####   WEB   #####
###################
# Ignore the entirety of our static web assets (css, html, images, etc.) for repo language stats
# NOTE: technically, only `src/python/beetkeeper/api/static/js/htmx.min.js` is vendored, but 
# the 'linguist-vendored' setting appears to be the only way to exclude files from language stats,
# while still *including* those files in diffs: https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
src/python/beetkeeper/api/static/** linguist-vendored

###################
#####   DOCS   ####
###################
docs/** linguist-documentation
src/docs/** linguist-documentation
