{%- macro remote(commit) -%}
  {% if commit.author and repository_url -%}
      {% set author = "@" ~ commit.author -%}
      {% set author_link = platform ~ "/" ~ commit.author -%}
      {% set author = "[" ~ author ~ "](" ~ author_link ~ ")" -%}
  {% else -%}
      {% set author = commit.signature -%}
  {% endif -%}
  {%- set commit_link = repository_url ~ "/commit/" ~ commit.id -%}
  {% set shorthand = commit.id | truncate(length=7, end="") -%}
  {% if commit.breaking_change -%}
      {% set breaking_badge = "![BREAKING](https://img.shields.io/badge/BREAKING-red) " -%}
  {% else -%}
      {% set breaking_badge = "" -%}
  {% endif -%}
  - {{ breaking_badge }}{%if commit.scope %}(**{{ commit.scope }}**) {% endif %}{{ commit.summary }} - ([{{shorthand}}]({{ commit_link }})) - {{ author }}{%- for footer in commit.footers -%}{%- if footer.github_co_authored_by -%}{%- if footer.github_co_authored_by.username -%}{%- set coauthor_link = platform ~ "/" ~ footer.github_co_authored_by.username -%}, [@{{ footer.github_co_authored_by.username }}]({{ coauthor_link }}){%- else -%}, {{ footer.github_co_authored_by.user }}{%- endif -%}{%- endif -%}{%- endfor -%}
{%- endmacro remote -%}

{% if version.tag and from.tag -%}
    ## [{{ version.tag }}]({{repository_url ~ "/compare/" ~ from.tag ~ ".." ~ version.tag}}) - {{ date | date(format="%Y-%m-%d") }}
{% elif version.tag and from.id -%}
    ## [{{ version.tag }}]({{repository_url ~ "/compare/" ~ from.id ~ ".." ~ version.tag}}) - {{ date | date(format="%Y-%m-%d") }}
{% else -%}
    {% set from = from.id -%}
    {% set to = version.id -%}

    {% set from_shorthand = from.id | truncate(length=7, end="") -%}
    {% set to_shorthand = version.id | truncate(length=7, end="") -%}

    ## Unreleased ([{{ from_shorthand ~ ".." ~ to_shorthand }}]({{repository_url ~ "/compare/" ~ from_shorthand ~ ".." ~ to_shorthand}}))
{% endif -%}

{% for value in commits | group_by_type %}
#### {{ value.0 | upper_first }}
{% for scope, scoped_commits in value.1 | group_by(attribute="scope") -%}
    {%- for commit in scoped_commits %}
{{ self::remote(commit=commit) }}
    {%- endfor -%}
{%- endfor -%}
{%- for commit in value.1 | unscoped %}
{{ self::remote(commit=commit) }}
{%- endfor %}
{% endfor -%}
{% if version.tag -%}
{% set download_base = repository_url ~ "/releases/download/" ~ version.tag ~ "/" -%}
{% set asset_names = ["beetkeeper-macos-aarch64", "beetkeeper-macos-x86_64", "beetkeeper-linux-x86_64", "beetkeeper-linux-aarch64"] -%}
{% set asset_platforms = ["Apple Silicon macOS", "Intel macOS", "x64 Linux", "ARM64 Linux"] %}
## Download beetkeeper {{ version.tag | trim_start_matches(pat="v") }}

| File | Platform | Checksum |
|------|----------|----------|
{% for name in asset_names -%}
| [{{ name }}]({{ download_base ~ name }}) | {{ asset_platforms[loop.index0] }} | [checksum]({{ download_base ~ name ~ ".sha256" }}) |
{% endfor -%}
{% endif -%}
